*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6d365;
    background-image: linear-gradient(120deg, #f6d365, #fda085);
    font-family: 'Manrope', Arial, sans-serif;
    color: #fff;
    min-height: 100vh;
}

h1, form{
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: #fff;
}

form button{
    cursor: pointer;
    color: #f6d365;
    transition: all 300ms ease;
}

form button:hover{
    background: #f6d365;
    color: #fff;
}

.todo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-list{
    list-style: none;
    min-width: 30%;
}

.todo{
    background-color: #fff;
    margin: 0.5rem 0;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 300ms ease;
}

.todo li{
    flex: 1;
    padding-left: 0.5rem;
}

.complete-btn, .delete-btn{
    border: none;
    color: #fff;
    background-color: #fda085;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.complete-btn{
    background-color: rgb(73,204,73);
}

.fas{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.6;
}

.fall{
    transition: all 500ms ease;
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select.filter-todos{
    -webkit-appearance: none;
    appearance: none; 
    outline: none;
    border: none;
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background: #ff6f47;
    top: 0;
    right: 0;
    pointer-events: none;
    padding: 1rem;
}




















